{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Login
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two five columns">
        {% include "bloguser/login_form.html" %}
    </div>
    <div class="three columns">
        <ul class="task-list">
            <li><a href="{% url 'dj-auth:create' %}">
                Register New Account</a></li>
            <li><a href="{% url 'dj-auth:pw_reset_start' %}">
                Forgotten password?</a></li>
            <li><a href="{% url 'dj-auth:resend_activation' %}">
                Lost Activation E-Mail?</a></li>
        </ul>
    </div>
</div>
{% endblock %}