{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Password Reset Sent
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two eight columns">
        <p>Password reset email sent!</p>
        <p>Please check your inbox and spam box.</p>
    </div>
</div>
{% endblock %}