{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Change Password
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two eight columns">
        <form action="{% url 'dj-auth:pw_change' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Change Password
            </button>
        </form>
    </div>
</div>
{% endblock %}