{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% block content %}
    <div class="row">
        <div class="offset-by-two eight columns">
            <div class="center">
                <p>Reset your password by email.</p>
            </div>
            <form action="{% url 'dj-auth:pw_reset_start' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">
                    Send Me Reset Instructions
                </button>
            </form>
        </div>
    </div>
{% endblock %}