{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Create Account
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two eight columns">
        <div class="center">
            <a href="{% url 'dj-auth:resend_activation' %}">
                Lost Activation E-Mail?</a>
        </div>
        <form action="{% url 'dj-auth:create' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">
                Create New Account
            </button>
        </form>
    </div>
</div>
{% endblock %}