{% extends parent_template|default:"bloguser/base_user.html" %}

{% block title %}
{{ block.super }} - Account Created
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two eight columns">
        <p>Your account has been created</p>
        <p>Please check your email for the activation link</p>
    </div>
</div>
{% endblock %}