{% extends parent_template|default:"bloguser/base_user.html"%}

{% block title %}
{{ block.super }} - Account Activation Failed
{% endblock%}

{% block content %}
<div class="row">
    <div class="offset-by-two eight columns">
        <p>This activation link is no longer valid.</p>
    </div>
</div>
{% endblock %}