{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - Create Blog Post
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <form
          action="{% url 'blog_post_create' %}"
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="button-primary" type="submit">
          Create Blog Post</button>
      </form>
    </div>
  </div>
{% endblock %}