{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
{{ block.super }} - {{ month|date:"F Y" }} Posts
{% endblock %}

{% block content %}
<div class="row">
    <div class="eight columns">
        <div class="mobile">
            {% if perms.blog.add_post %}
             <a href="{% url 'blog_post_create' %}"
                class="button button-primary">
                 Write New Blog Post</a>
            {% endif %}
        </div>
        <h2>All Posts for {{ month|date:"F Y" }}</h2>
        {% for post in post_list %}
        <article class="list-item">
            <header>
                <h3>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title|title }}
                    </a>
                </h3>
                {% if perms.blog.change_post or perms.blog.delete_post %}
                <ul class="inline">
                    {% if perms.blog.change_post %}
                    <li>
                        <a href="{{ post.get_update_url }}"
                           class="button">
                            Edit Post
                        </a>
                    </li>
                    {% endif %}
                    {% if perms.blog.delete_post %}
                    <li>
                        <a href="{{ post.get_delete_url }}"
                           class="button">
                            Delete Post
                        </a>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}
                <p>
                    Written on:
                    <time datetime="{{ post.pub_date|date:"Y-m-d" }}">
                        {{ post.pub_date|date:"l, F j, Y" }}
                    </time>
                </p>
            </header>

            <p>{{ post.text|truncatewords:20 }}</p>
            <p class="read-more">
                <a href="{{ post.get_absolute_url }}">
                    Read more&hellip;
                </a>
            </p>
        </article>
        {% endfor %}
    </div><!--eight columns-->
    <div class="desktop four columns">
        {% if perms.blog.add_post %}
        <a href="{% url 'blog_post_create' %}"
           class="button button-primary">
            Write New Blog Post
        </a>
        {% endif %}
        <p><a href="{% url 'blog_post_archive_year' month|date:"Y" %}">
            All Posts from {{ month|date:"Y" }}</a></p>
        <p><a href="{% url 'blog_post_list' %}">
            Latest Posts</a></p>
    </div><!--four columns-->
</div><!--row-->
<div class="row">
    <div class="twelve columns">
        <ul class="pagination">
            {% if previous_month %}
            <li>
                <a href="{% url 'blog_post_archive_month' previous_month|date:"Y" previous_month|date:"m" %}">
                    < Posts from {{ previous_month|date:"F Y" }}</a>
            </li>
            {% endif %}
            {% if next_month %}
            <li>
                <a href="{% url 'blog_post_archive_month' next_month|date:"Y" next_month|date:"m"  %}">
                    Posts from {{ next_month|date:"F Y" }}</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}