{% extends parent_template|default:"base.html" %}

{% block content %}
<div class="row">
    <section class="eight columns">
        {% block org_content %}
        This is default content!
        {% endblock %}
    </section>
    <section class="desktop four columns">
        {% block create_button %}{% endblock %}
    </section>
</div>

{% if is_paginated %}
<div class="row">
    <div class="twelve columns">
       <ul class="pagination">
            {% if first_page_url %}
            <li>
                <a href="{{ first_page_url }}">
                    First</a>
            </li>
            {% endif %}
            {% if previous_page_url %}
           <li>
               <a href="{{ previous_page_url }}">Previous</a>
           </li>
           {% endif %}
            <li>
                Page {{ page_obj.number }}
                of {{ paginator.num_pages }}
            </li>
            {% if next_page_url %}
            <li>
                <a href="{{ next_page_url }}">
                    Next
                </a>
            </li>
            {% endif %}
        `   {% if last_page_url %}
                <li>
                    <a href="{{ last_page_url }}">
                        Last</a>
                </li>
           {% endif %}
       </ul>
    </div>
</div>
{% endif %}
{% endblock %}