{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - NewsLink Update
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two eight columns">
        <form action="{{ newslink.get_update_url }}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button button-primary"
                    type="submit">
                Update Article Link
            </button>
        </form>
    </div>
</div>
{% endblock %}