{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - NewsLink Confirm Delete
{% endblock %}

{% block content%}
<div class="row">
    <div class="offset-by-two eight columns">
        <form action="{{ newslink.get_delete_url }}"
              method="post">
            <p>
                Are you sure you want to delete link to article {{ newslink.name }}?
            </p>
            <a href="{{ newslink.get_absolute_url }}" class="button button-primary">
                Cancel
            </a>
            <button type="submit">
                Delete Article Link
            </button>
        </form>
    </div>
</div>
{% endblock %}