{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Startup Detail
{% endblock %}

{% block content %}
<article>

    <div class="row">
        <div class="offset-by-two eight columns">

  <h2>{{ startup.name }}</h2>
    {% if perms.organizer.change_startup or perms.organizer.delete_startup %}
    <ul class="inline">
        {% if perms.organizer.change_startup %}
        <li>
            <a href="{{ startup.get_update_url }}" class="button">
                Edit Startup
            </a>
        </li>
        {% endif %}
        {% if perms.organizer.delete_startup %}
        <li>
            <a href="{{ startup.get_delete_url }}" class="button">
                Delete Startup
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}

  <dl>
    <dt>Date Founded</dt>
      <dd>{{ startup.founded_date|date:"F jS, Y" }}</dd>
    <dt>Website</dt>
      <dd>{{ startup.website|urlize }}</dd>
    <dt>Contact</dt>
      <dd>{{ startup.contact }}</dd>

      <dt>Tag{{ startup.tags.count|pluralize }}</dt>
        {% for tag in startup.tags.all %}
          <dd><a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
          </a></dd>
        {% endfor %}

  </dl>

  <p>{{ startup.description|linebreaks }}</p>
    </div>
</div><!--row-->

{% if startup.newslink_set.all or perms.blog.view_future_post and startup.blog_posts.all or startup.published_posts|length > 0 or perms.organizer.add_newslink %}
<div class="row">
        {% if startup.newslink_set.all %}
            <section>
          {% if perms.blog.view_future_post and startup.blog_posts.all or startup.published_posts|length > 0 %}
              <section class="meta offset-by-two one-third column">
          {% else %}
              <section class="meta offset-by-two two-thirds-column">
          {% endif %}

            <h3>Recent News</h3>
            {% if perms.organizer.add_newslink %}
          <p>
              <a href="{{ startup.get_newslink_create_url }}"
              class="button">
                  Add Article</a></p>
            {% endif %}
            <ul>
              {% for newslink in startup.newslink_set.all %}
                <li>
                  <a href="{{ newslink.link }}">
                    {{ newslink.title|title }}</a>
                    {% if perms.organizer.change_newslink or perms.organizer.delete_newslink %}
                    <ul class="inline">
                        {% if perms.organizer.change_newslink %}
                        <li>
                            <a href="{{ newslink.get_update_url }}"
                            class="button">
                                Edit Link</a></li>
                        {% endif %}
                        {% if perms.organizer.delete_newslink %}
                        <li>
                            <a href="{{ newslink.get_delete_url }}"
                            class="button">
                                Delete Link</a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </li>
              {% endfor %}
            </ul>
          </section>
            {% elif perms.organizer.add_newslink %}
            {% if perms.blog.view_future_post and startup.blog_posts.all or startup.published_posts > 0 %}
                <section class="meta offset-by-two one-third column">
            {% else %}
                <section class="meta offset-by-two two-thirds column">
            {% endif %}

            <p>
                <a href="{{ startup.get_newslink_create_url }}" class="button">
                    Add Article</a></p>
            </section>
      {% endif %}

        {% if perms.blog.view_future_post and startup.blog_posts.all or startup.published_posts|length > 0 %}
            {% if startup.newslink_set.all or perms.organizer.add_newslink%}
            <section class="meta one-third column">
            {% else %}
            <section class="meta offset-by-two two-thirds column">
            {% endif %}

            {% if perms.blog.view_future_post and startup.blog_posts.all %}
            <h3>Blog Post{{ startup.blog_posts.all|pluralize }}</h3>
            <ul>
              {% for post in startup.blog_posts.all %}
                <li>
                  <a href="{{ post.get_absolute_url }}">
                    {{ post.title|title }}</a>
                </li>
              {% endfor %}
            </ul>
            {% elif startup.published_posts|length > 0 %}
                <h3>Blog Post{{ startup.published_posts|pluralize }}</h3>
                <ul>
                {% for post in startup.published_posts %}
                    <li>
                        <a href="{{ post.get_absolute_url }}">
                            {{ post.title|title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
          </section>
      {% endif %}
</div>
{% endif %}

</article>
{% endblock %}
