{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Startup Update
{% endblock %}

{% block content %}
<div class="row">
    <div class="offset-by-two eight-columns">
        <form action="{{ startup.get_update_url }}"
              method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button-primary" type="submit">
                Update Startup
            </button>
        </form>
    </div>
</div>
{% endblock %}