{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - {{ tag.name|title }}
{% endblock %}

{% block org_content %}
 <h2> {{ tag.name|title }} </h2>
    {% if perms.organizer.change_tag or perms.organizer.delete_tag %}
    <ul class="inline">
    {% if perms.organizer.change_tag %}
        <li>
            <a href="{{ tag.get_update_url }}"
            class="button">
                Edit Tag</a></li>
        {% endif %}
        {% if perms.organizer.delete_tag %}
        <li>
            <a href="{{ tag.get_delete_url }}"
            class="button">
                Delete Tag
            </a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    {% if tag.startup_set.all %}
    <section>
      <h3>Startup{{ tag.startup_set.count|pluralize }}</h3>
        <p>
            Tag is associated with
            {{ tag.startup_set.count }}
            startup{{ tag.startup_set.count|pluralize }}.
        </p>
      <ul>
        {% for startup in tag.startup_set.all %}
          <li>
              <a href="{{ startup.get_absolute_url }}">
                  {{ startup.name }}
              </a>
          </li>
          {% endfor %}
      </ul>
    </section>
    {% endif %}

    {% if perms.blog.view_future_post %}
        {% if tag.blog_posts.all %}
        <section>
          <h3>Blog Post{{ tag.blog_posts.count|pluralize }}</h3>
          <ul>
            {% for post in tag.blog_posts.all %}
              <li><a href="{{ post.get_absolute_url }}">
                  {{ post.title|title }}
              </a></li>
              {% endfor %}
          </ul>
        </section>
        {% endif %}
         {% if not tag.startup_set.all and not tag.blog_posts.all %}
        <p>This tag is not related to any content</p>
        {% endif %}
    {% else %}
        {% if tag.published_posts|length > 0 %}
        <section>
            <h3>Blog Post{{ tag.published_posts|pluralize }}</h3>
        <ul>
            {% for post in tag.published_posts %}
            <li><a href="{{ post.get_absolute_url }}">
                {{ post.title|title }}
            </a></li>
            {% endfor %}
        </ul>
        </section>
    {% endif %}
        {% if not tag.startup_set.all and not tag.published_posts %}
            <p>This tag is not related to any content</p>
        {% endif %}
    {% endif %}
{% endblock %}