{% extends parent_template|default:"contact/base_contact.html" %}

{% block title %}
{{ block.super }} - Contact Us!
{% endblock %}

{% block content %}
  <div class="row">
    <div class="offset-by-two eight columns">
      <form
          action="{% url 'contact' %}"
          method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">
          Contact Us!</button>
      </form>
    </div>
  </div>
{% endblock %}